@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaryFont: 'Pacifico', cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--primaryFont);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer base {
  * {
    cursor: none !important;
  }
}

::selection {
  background-color: #FF9101;
  color: black;
}


.dot-bg {

  /* background-color: #f8efef; */
  background-image: radial-gradient(#878186 1.2px, transparent 1px);
  background-size: 60px 60px;
}

.bg-fixed {
  background-attachment: fixed;
}

.min_container {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
}


.container_cus {
  width: 100%;
  margin: 0 auto;
  max-width: 1248px;
}

.slick-slider .slick-list {
  padding-top: 55px !important;
}